.wrapper
  .navbar.navbar-default.navbar-custom
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar',
        'aria-expanded' => 'false', 'data-target' => '#navbar',
        'data-toggle' => 'collapse', type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('lendlogo.png'), root_path, class: 'logo logo-header navbar-header'

      .collapse.navbar-collapse#navbar
        %ul.nav.navbar-nav.navbar-right
          %li
            - if current_user
              = link_to 'My profile', user_path(current_user)
              = link_to 'Log out', destroy_user_session_path, method: :delete
            - elsif !current_page? '/'
              %div.join_login_buttons
                = render 'users/join_in_button'
                = render 'users/login_button'