.container
  .row
    .col-sm-4
      .profile_pic_container
        - if @user.user_avatar
          = image_tag @user.user_avatar.image.url(:medium), class: 'profile_photo'
          -if @user == current_user
            = link_to 'Remove photo', user_avatar_path(@user.user_avatar), method: :delete
        - else
          %img.profile_photo{ src: 'http://placehold.it/250x250' }

    .col-sm-4.form-group
      = form_for current_user, url: users_edit_profile_path,  html: { method: :put } do |f|
        = f.label :about_me
        = f.text_area :about_me, size: '50x6', class: 'form-control' placeholder: 'Do you smoke?'
        = f.label :image
        = f.file_field :image
        = f.submit 'Save profile'
