.header-box
  %h1 Tell us about yourself
.main-content-box
  .row
    .col-sm-4.edit-profile-pic.border-box
      .row
        .col-xs-12
          - if @user.user_avatar
            = image_tag @user.user_avatar.image.url(:medium), class: 'profile_photo'
          - else
            %img.profile_photo{ src: 'http://placehold.it/250x250' }
      .row
        .col-xs-12
          .center
            = form_for @user, url: users_edit_profile_path,  html: { method: :put } do |f|
              .form-group
                = f.label :image, class: 'sr-only'
                = f.file_field :image
              .form-group
                = f.submit 'Update photo', class: 'btn btn-default btn-custom'
                %br
                - if @user.user_avatar
                  = link_to 'Remove photo', user_avatar_path(@user.user_avatar), method: :delete
    .col-sm-8
      = form_for current_user, url: users_edit_profile_path,  html: { method: :put } do |f|
        .form-group
          = f.label :about_me, class: 'sr-only'
          = f.text_area :about_me, size: '50x6', class: 'form-control', placeholder: 'Do you smoke?'
        .form-group
          = f.submit 'Save profile', class: 'btn btn-default btn-custom'

  -# .row
  -#   .col-sm-4
  -#     = form_for @user, url: users_edit_profile_path,  html: { method: :put } do |f|
  -#       = f.label :image
  -#       = f.file_field :image
  -#       = f.submit 'Update photo', class: 'btn btn-default btn-custom'


-# -if @user == current_user
-#
-#   = link_to 'Remove photo', user_avatar_path(@user.user_avatar), method: :delete
