%h1= @user.name
%p= link_to 'Edit profile', users_edit_profile_path

%p= @user.about_me

%p
  Space available:
  - if @user.patches.first
    %p= @user.patches.first.patch_type
  -else
    This user has no patches to share
%p= @user.email

