.jumbotron.home-jumbo
  .container
    %h1.home-header
      Lend & Tend
    %h2.home-subheader
      Make friends, food & colour with others around you!
    - if user_signed_in?
      %div.center-block
        = button_to 'Add patch', new_patch_path, class: 'btn btn-success btn-lg home-logged-in-btn', method: :get
        = button_to 'View patches', patches_path, class: ' btn btn-primary btn-lg', method: :get
    - else
      %div.center-block
        %button.btn.btn-success.btn-lg{'data-toggle' => 'modal', 'data-target' => '#JoinModal'}Join up
        %button.btn.btn-primary.btn-lg#launchloginmodal{'data-toggle' => 'modal', 'data-target' => '#LoginModal'}Log in

.container-fluid#index-header.photo_wall
  .row
    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg1{:style => "background-image: url(#{@photos[0].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg2{:style => "background-image: url(#{@photos[1].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg3{:style => "background-image: url(#{@photos[2].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg4{:style => "background-image: url(#{@photos[3].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg5{:style => "background-image: url(#{@photos[4].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg6{:style => "background-image: url(#{@photos[5].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg7{:style => "background-image: url(#{@photos[6].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg8{:style => "background-image: url(#{@photos[7].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg9{:style => "background-image: url(#{@photos[8].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg10{:style => "background-image: url(#{@photos[9].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg11{:style => "background-image: url(#{@photos[10].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.home-img-container
      .home_img#homeImg12{:style => "background-image: url(#{@photos[11].image.url(:medium)})"}

    .col-xs-6.col-sm-3.col-lg-2.hidden-sm.hidden-md.hidden-xs.home-img-container
      .home_img#homeImg13{:style => "background-image: url(#{@photos[12].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.hidden-sm.hidden-md.hidden-xs.home-img-container
      .home_img#homeImg14{:style => "background-image: url(#{@photos[13].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.hidden-sm.hidden-md.home-img-container
      .home_img#homeImg15{:style => "background-image: url(#{@photos[14].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.hidden-sm.hidden-md.home-img-container
      .home_img#homeImg16{:style => "background-image: url(#{@photos[15].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.hidden-sm.hidden-md.home-img-container
      .home_img#homeImg17{:style => "background-image: url(#{@photos[16].image.url(:medium)})"}

    .col-xs-6.hidden-xs.col-sm-3.col-lg-2.hidden-sm.hidden-md.home-img-container
      .home_img#homeImg18{:style => "background-image: url(#{@photos[17].image.url(:medium)})"}
.row
  .container
    .col-sm-12.col-md-4.col-lg-4.what_is
      %h2 What is Lend & Tend?
      %p
        See unused gardens around you? Wish you had a garden yourself?
        Do you have a garden but no time or can’t manage? 
        How about Lending and Tending? 
        Garden Owners, offer some of your garden to someone who'd like space to grow. 
        Get the garden-less gardening! PatchMatch™ On your grounds. 
        Help a neighbour with maintenance, crop swap in your community, grow. Locally!
        Find allotment-like space without the wait. 
        Tend to a garden for someone who’s Lending their garden. 
        Join Lend and Tend! 
        A new way to make Gardening Friends. 

    .col-sm-12.col-md-4.col-lg-4.what_is
      %h2 Is it for me?
      %p Quisque sagittis orci quis egestas volutpat. Sed imperdiet aliquam nulla a accumsan. Proin maximus nisi et mauris lobortis condimentum. Morbi massa erat, vulputate a posuere non, porttitor at justo. Ut fringilla aliquet augue non auctor. In hac habitasse platea dictumst. Nam lobortis vitae justo id dignissim. Duis molestie sollicitudin magna nec auctor.
    .col-sm-12.col-md-4.col-lg-4.what_is
      %h2 What's the buzz?
      %p Quisque sagittis orci quis egestas volutpat. Sed imperdiet aliquam nulla a accumsan. Proin maximus nisi et mauris lobortis condimentum. Morbi massa erat, vulputate a posuere non, porttitor at justo. Ut fringilla aliquet augue non auctor. In hac habitasse platea dictumst. Nam lobortis vitae justo id dignissim. Duis molestie sollicitudin magna nec auctor.

.row
  .col-sm-6
    .social-feed
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LendandTend" data-widget-id="603314736726409216">Tweets by @LendandTend</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  .col-sm-6
    .social-feed
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/LendAndTend" data-widget-id="603155369238646784">#LendAndTend Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

/ Modal
%div.modal.fade{'id' => "LoginModal", 'tabindex'=> "-1", 'role' => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true" }
  %div.modal-dialog.modal-sm
    %div.modal-content
      %div.modal-body
        = render 'users/login_form'

/ Modal
%div.modal.fade{'id' => "JoinModal", 'tabindex'=> "-1", 'role' => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true" }
  %div.modal-dialog.modal-sm
    %div.modal-content
      %div.modal-body
        = render 'users/new_user_form'

= javascript_include_tag params[:controller]

= javascript_tag do
  = "window.imageUrls ="
  = raw @other_photos.to_json
