.jumbotron
  .container{style: "text-align: center;"}
    %h1
      Lend And Tend
    %h2
      Growing allotment-like communities amongst those without allotments.
    - unless user_signed_in?
      %div.center-block
        = render 'users/join_in_button'
        = render 'users/login_button'
.container#index-header.photo_wall
  .row
    .col-sm-2.home-img-container
      .home_img#homeImg1{:style => "background-image: url(#{@photos[0].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg2{:style => "background-image: url(#{@photos[1].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg3{:style => "background-image: url(#{@photos[2].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg4{:style => "background-image: url(#{@photos[3].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg5{:style => "background-image: url(#{@photos[4].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg6{:style => "background-image: url(#{@photos[5].image.url(:medium)})"}
  .row
    .col-sm-2.home-img-container
      .home_img#homeImg9{:style => "background-image: url(#{@photos[8].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg10{:style => "background-image: url(#{@photos[9].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg11{:style => "background-image: url(#{@photos[10].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg12{:style => "background-image: url(#{@photos[11].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg13{:style => "background-image: url(#{@photos[12].image.url(:medium)})"}

    .col-sm-2.home-img-container
      .home_img#homeImg14{:style => "background-image: url(#{@photos[13].image.url(:medium)})"}

.container
  .row
    .col-sm-2
    .col-sm-8.summary
      %p
        Quisque sagittis orci quis egestas volutpat. Sed imperdiet aliquam nulla
        a accumsan. Proin maximus nisi et mauris lobortis condimentum. Morbi
        massa erat, vulputate a posuere non, porttitor at justo. Ut fringilla
        aliquet augue non auctor. In hac habitasse platea dictumst.
        Nam lobortis vitae justo id dignissim. Duis molestie sollicitudin
        magna nec auctor.
    .col-sm-2
  .row
    .col-sm-6
      .social-feed
        <a class="twitter-timeline" href="https://twitter.com/LendandTend" data-widget-id="600973716793745408">Tweets by @LendandTend</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    .col-sm-6
      .social-feed
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/LendAndTend" data-widget-id="603155369238646784">#LendAndTend Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


= javascript_tag do
  = "window.imageUrls ="
  = raw @other_photos.to_json
