.container
  .row
    .col-xs-8.col-xs-offset-2
      = form_tag patches_path, method: :get, class: 'form-inline filter-form' do
        = label_tag :patch_type, 'Patch type'
        = select_tag :patch_type, options_for_select([['All', '']] + patch_types_list), class: 'selectpicker'
        = label_tag :duration
        = select_tag :duration, options_for_select([['All', ''], ['0-1 year', 1], ['1-2 year', 2]])
        .input-group
          = label_tag :location, 'Location', class: 'hidden'
          = text_field_tag :location, '', placeholder: 'Location, e.g. Liversedge', class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-map-marker
          %span.input-group-btn
            = submit_tag 'Search', name: nil, class: 'btn btn-md btn-success'
  .row
    .col-xs-8.col-xs-offset-2
      - if @patches
        %ul.list-unstyled
          - @patches.each do |patch|
            %li.row.listed-patch
              .col-md-5.col-md-offset-1.text-box
                %span= link_to patch.user.name, user_path(patch.user.name)
                %span.patch-type can offer his/her #{patch.patch_type}
                %div This patch can be found at #{patch.location} and can be tended for #{ pluralize(patch.duration, 'year') }
                %span It is curretly
                %span.in_use= patch.in_use ? 'occupied' : 'available'
              .col-md-3
                .patch-image
                  - if patch.patch_images.length > 0
                    = image_tag patch.patch_images.sample.image.url(:thumb)
                  - else
                    %img{ src: 'http://placehold.it/100x100' }
              .col-md-3
                = button_to "See #{patch.user.name.split(' ').first}'s profile", user_path(patch.user), method: :get, class: ['btn','btn-success', 'get-in-touch']
        .row
          .col-xs-6.col-xs-offset-3
            = pagination_links @patches
      - else
        %div Sorry, no patches to display
