.container-fluid
  .row
    .col-xs-3
    .col-xs-6
      = form_tag patches_path, method: :get do
        = label_tag :patch_type, 'Patch type'
        = select_tag :patch_type, options_for_select([['All', '']] + patch_types_list)
        = label_tag :duration
        = select_tag :duration, options_for_select([['All', ''], ['0-1 year', 1], ['1-2 year', 2]])
        = label_tag :location
        = text_field_tag :location, '', placeholder: 'Location, e.g. Liversedge'
        = submit_tag 'Search', name: nil
  .row
    .col-xs-2
    .col-xs-8
      - if @patches
        %ul.list-unstyled
          .row.list-title
            .col-xs-2 Location
            .col-xs-3 Type
            .col-xs-2 How long?
            .col-xs-3 Who is offering it?
            .col-xs-1 Status
            .col-xs-1 How far?
          - @patches.each do |patch|
            %li
              .row
                %span.location.col-xs-2= patch.location
                %span.patch_type.col-xs-3= patch.patch_type
                %span.duration.col-xs-2= patch.duration
                %span.owner.col-xs-3= link_to patch.user.name, user_path(patch.user)
                %span.in_use.col-xs-1= patch.in_use ? 'taken' : 'free'
                %span.distance.col-xs-1= pluralize(patch.distance.round(1), 'mile') << ' away' if patch.respond_to? :distance
        = will_paginate @patches
      - else
        %div Sorry, no patches to display
