%form{action: patches_path, method: 'get'}
  = label_tag :patch_type, 'Patch type'
  = select_tag :patch_type, options_for_select([['All', ''],'Hanging baskets', 'Window sill', 'Patio', 'Roof garden', 'Front garden', 'Back yard', 'Lawn', 'Patch in your garden', 'Other'])
  = label_tag :duration
  = select_tag :duration, options_for_select([['All', ''], ['0-1 year', 1], ['1-2 year', 2]])
  = submit_tag 'Filter', name: nil

- if @patches
  %ul
    - @patches.each do |patch|
      %li
        %span.owner= link_to patch.user.name, user_path(patch.user)
        %span.location= patch.location
        %span.patch_type= patch.patch_type
        %span.duration= patch.duration
  = will_paginate @patches
- else
  %div Sorry, no patches to display
