!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title LendAndTend
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .wrapper
      .navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar',
            'aria-expanded' => 'false', 'data-target' => '#navbar',
            'data-toggle' => 'collapse', type: 'button' }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{ href: '/' } Lend & Tend

          .collapse.navbar-collapse#navbar
            %ul.nav.navbar-nav.navbar-right
              %li
                - if user_signed_in?
                  = link_to 'Log out', destroy_user_session_path, method: :delete
                - else
                  = link_to 'Log in', new_user_session_path
      #main
        = yield
        .errors
          - if flash[:errors]
            - flash[:errors].each do |error|
              %p.error= error
        %p.notice= notice
        %p.alert= alert
      .push
    .footer
      .container
        .row
          .col-sm-6
            .vcenter-outer
              %ul.nav.navbar-nav.vcenter-inner
                %li
                  = link_to 'About', about_us_path
                %li
                  = link_to 'Faq', faq_path
                %li
                  = link_to 'T&C', terms_path
          .col-sm-6
            .vcenter-outer
              %ul.nav.navbar-nav.navbar-right.vcenter-inner
                %li
                  %a{ href: '#' } f
                %li
                  %a{ href: '#' } in
                %li
                  %a{ href: '#' } t
