!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title LendAndTend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %span= link_to 'Lend & Tend', root_path
    - if user_signed_in?
      %span.view_profile= link_to 'My profile', user_path(current_user)
      %span= link_to 'View patches', patches_path
      =link_to 'List a patch', new_patch_path
      = link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      %div.join_login_buttons
        = render 'users/join_in_button'
        = render 'users/login_button'
    - if flash[:errors]
      .errors
        - flash[:errors].each do |error|
          %p.error.alert.alert-danger= error
    - if notice
      %p.notice.alert.alert-success= notice
    -if alert
      %p.alert.alert-warning= alert
  = yield

